<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
<!--            <img th:src="@{/img/logoForNav.png}" alt="" width="50" height="26.625">-->
            <p>Home</p>
        </a>
        <p sec:authorize="isAuthenticated()" class="nav-item nav-link m-0" style="color: #24ade3" th:if="${user != null}">Hello, <span th:text="${user.firstName}"></span></p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li sec:authorize="isAuthenticated()" class="nav-item" >
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" th:method="post" id="form1" class="nav-item">
                        <a onclick="document.getElementById('form1').submit();" class="nav-link">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>