<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Mystery Eats</title>
    <div th:replace="partials/headLinks.html" :: head></div>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form th:action="@{/signup}" method="POST" th:object="${user}" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Create Account</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <label for="username">Username</label><span class="required text-danger"> *</span>
                            <input class="form-control" id="username" th:field="*{username}" placeholder="Enter User Name"/>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="email">Email</label><span class="required text-danger"> *</span>
                            <input class="form-control" id="email" th:field="*{email}" placeholder="bob@example.com"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="signUpPassword">Password</label><span class="required text-danger"> *</span>
                            <input class="form-control" id="signUpPassword" name="signUpPassword" type="password" th:field="*{password}" placeholder="Password"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="signUpPasswordConfirm">Confirm Password</label><span class="required text-danger"> *</span>
                            <input class="form-control" id="signUpPasswordConfirm" name="signUpPasswordConfirm" type="password" placeholder="Confirm Password"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="firstName">First Name</label><span class="required text-danger"> *</span>
                            <input class="form-control" id="firstName" th:field="*{firstName}" placeholder="First Name"/>
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="lastName">Last Name</label><span class="required text-danger"> *</span>
                            <input class="form-control" id="lastName" th:field="*{lastName}" placeholder="Last Name"/>
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-block btn-primary" value="Sign me up!" type="submit"/>
                        </div>
                    </div>
                </form>
                <p class="text-center mt-3 text-secondary">If you have account, Please <a href="/login">Login Now</a></p>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>